* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.8rem;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: hsl(221, 100%, 96%);
}

.results-card {
  display: grid;
  max-width: 50rem;
  background-color: #fff;
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: linear-gradient(180deg, #7755ff 0%, #6943ff 0%, #2f2ce9 100%);
  text-align: center;
  padding: 4rem 6rem;
  padding-top: 2rem;
  border-radius: 0 0 3.5rem 3.5rem;
  box-shadow: 0 1rem 3rem 0.2rem hsla(241, 81%, 54%, 0.2);
}

.section-header-heading {
  font-size: 1.8rem;
  color: hsl(241, 100%, 89%);
  font-weight: 700;
}

.result {
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0%) 100%,
    rgba(37, 33, 201, 0%) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
}

.result-score {
  font-size: 5.6rem;
  color: #fff;
  font-weight: 800;
}

.result-total {
  font-size: 1.6rem;
  font-weight: 700;
  color: hsl(241, 100%, 89%);
}

.evaluation-keyword {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: -1.2rem;
}

.evaluation-description {
  font-size: 1.6rem;
  font-weight: 500;
  color: hsl(241, 100%, 89%);
}

.section-body {
  padding: 3rem;
}

.section-body h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(224, 30%, 27%);
  margin: 2rem 0;
}

.category {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
}

.category-reaction {
  background-color: hsla(0, 100%, 37%, 0.05);
}

.category-memory {
  background-color: hsla(39, 100%, 56%, 0.05);
}

.category-verbal {
  background-color: hsla(166, 100%, 37%, 0.05);
}

.category-visual {
  background-color: hsla(234, 85%, 45%, 0.05);
}

.category-info {
  display: flex;
  gap: 1.5rem;
}

.category-name {
  font-size: 1.6rem;
}

.category-name_reaction {
  color: hsl(0, 100%, 67%);
}

.category-name_memory {
  color: hsl(39, 100%, 56%);
}

.category-name_verbal {
  color: hsl(166, 100%, 37%);
}

.category-name_visual {
  color: hsl(234, 85%, 45%);
}

.category-score {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
}

.category-score span {
  color: hsl(224, 30%, 57%);
}

.continue-btn {
  font-family: inherit;
  border: none;
  width: 100%;
  color: #fff;
  background-color: hsl(224, 30%, 27%);
  padding: 1.5rem;
  border-radius: 5rem;
  font-size: 1.8rem;
  margin-top: 1.5rem;
}

.continue-btn:hover {
  background: linear-gradient(hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
}

@media screen and (min-width: 750px) {
  .results-card {
    grid-template-columns: 1fr 1fr;
    max-width: 73.6rem;
    border-radius: 3.5rem 0 0 3.5rem;
  }

  .section-header {
    border-radius: 3.5rem;
    padding: 4rem 6rem;
    gap: 2.4rem;
  }

  .section-header-heading {
    font-size: 2.4rem;
  }

  .section-body h2 {
    margin-top: 0;
    font-size: 2.4rem;
  }

  .result {
    width: 20rem;
    height: 20rem;
  }

  .result-score {
    font-size: 7.2rem;
  }

  .result-total {
    font-size: 1.8rem;
  }

  .evaluation-keyword {
    font-size: 3.2rem;
  }

  .evaluation-description {
    font-size: 1.8rem;
  }

  .section-body {
    padding: 4rem;
  }

  .category:nth-child(5) {
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-height: 800px) {
  .results-card {
    border-radius: 3.5rem;
    overflow: hidden;
  }
}
