* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.8rem;
  display: grid;
  place-items: center;
}

section {
  width: 45rem;
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  text-align: center;
}
